<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.manager.mapper.MSharedMapper">

    <resultMap type="MShared" id="MSharedResult">
        <result property="id"    column="id"    />
        <result property="sharedCode"    column="shared_code"    />
        <result property="fileId"    column="file_id"    />
        <result property="type"    column="type"    />
        <result property="isOutdate"    column="is_outdate"    />
        <result property="updateDate"    column="update_date"    />
        <result property="createDate"    column="create_time"    />
    </resultMap>

    <sql id="selectMSharedVo">
        select id, shared_code, file_id, type, is_outdate, update_date, create_time from m_shared
    </sql>

    <select id="selectMSharedList" parameterType="MShared" resultMap="MSharedResult">
        <include refid="selectMSharedVo"/>
        <where>
            <if test="sharedCode != null  and sharedCode != ''"> and shared_code = #{sharedCode}</if>
            <if test="fileId != null "> and file_id = #{fileId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="isOutdate != null "> and is_outdate = #{isOutdate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
        </where>
        order by id desc
    </select>

    <select id="selectMSharedById" parameterType="Long" resultMap="MSharedResult">
        <include refid="selectMSharedVo"/>
        where id = #{id}
    </select>
    <select id="checkIsExist" resultType="com.wzh.manager.domain.MShared">
        <include refid="selectMSharedVo"/>
        where shared_code = #{sharedCode} and
        file_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectMSharedListByCode" resultMap="MSharedResult">
        <include refid="selectMSharedVo"/>
        where shared_code = #{code} and is_outdate = 0
    </select>
    <select id="queryStatusByCode" resultType="java.lang.String">
        select status from m_shared_code where code = #{code}
    </select>

    <insert id="insertMShared" parameterType="MShared" useGeneratedKeys="true" keyProperty="id">
        insert into m_shared
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sharedCode != null">shared_code,</if>
            <if test="fileId != null">file_id,</if>
            <if test="type != null">type,</if>
            <if test="isOutdate != null">is_outdate,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="createDate != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sharedCode != null">#{sharedCode},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="type != null">#{type},</if>
            <if test="isOutdate != null">#{isOutdate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="createDate != null">#{createDate},</if>
        </trim>
    </insert>
    <insert id="insertMSharedList">
        INSERT INTO m_shared
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].sharedCode != null">shared_code,</if>
            <if test="list[0].fileId != null">file_id,</if>
            <if test="list[0].type != null">type,</if>
            <if test="list[0].isOutdate != null">is_outdate,</if>
            <if test="list[0].updateDate != null">update_date,</if>
            <if test="list[0].createDate != null">create_time,</if>
        </trim>
        VALUES
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.sharedCode != null">#{item.sharedCode},</if>
                <if test="item.fileId != null">#{item.fileId},</if>
                <if test="item.type != null">#{item.type},</if>
                <if test="item.isOutdate != null">#{item.isOutdate},</if>
                <if test="item.updateDate != null">#{item.updateDate},</if>
                <if test="item.createDate != null">#{item.createDate},</if>
            </trim>
        </foreach>
    </insert>

    <update id="updateMShared" parameterType="MShared">
        update m_shared
        <trim prefix="SET" suffixOverrides=",">
            <if test="sharedCode != null">shared_code = #{sharedCode},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="isOutdate != null">is_outdate = #{isOutdate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="createDate != null">create_time = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateMSharedByIds">
        update m_shared
        <trim prefix="SET" suffixOverrides=",">
            <if test="isOutdate != null">is_outdate = 1,</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where shared_code in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteMSharedById" parameterType="Long">
        delete from m_shared where id = #{id}
    </delete>

    <delete id="deleteMSharedByIds" parameterType="String">
        delete from m_shared where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>